html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bae5e3;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

#descripcion {
    width: 90%;
    background-color: #9fe0dd;
    padding: 2em;
    border-radius: 100em;
    margin: auto;
}

#descripcion h2{
    font-family: 'Courier New', Courier, monospace;
}

#contenedor {
    width: 90%;
    margin : auto;
    background-color: #89e4df;
    border-radius: 15px;
     
}

#contenedor .listaJuegos{
    padding: 2em;
    display : flex;
}

#contenedor .juego{
    padding: 1em;
    margin-right: 1em;
    text-align: center;
    flex: 1;
    background-color: #8dbaeb;
    border-radius: 10px;
    list-style-type: none;
    cursor: pointer;
}

#contenedor .juego.activo{
    background-color: #007BFF;
    color: white;
}

#pantallaContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 800px;
    border: 2px solid #2068b1;
    border-radius: 10px;
    background-color: #241a1a;
}

#pantalla {
    height: 100%;
    border-radius: 10px;
}

#infoJuego {
    width: 30%;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

